:host {
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.wizard-top {
	flex: 0 1 auto;
	min-height: 50px;
}

.wizard-body {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.wizard-bottom {
	flex: 0 1 auto;
	min-height: 50px;
}

.action-button {
	width: 100%;
}