.grid-stack {
	.grid-stack-item {
		padding: 5px;
		
		.grid-stack-item-content {
			border: 1px solid $secondary;
			border-radius: 5px;
			overflow: hidden;
			display: flex;
			
			> *:first-child {
				flex: 1;
			}
		}
	}
}
